.carousel
{
	position:relative;
	margin:0px;
	padding:0px;
	-moz-user-select:none;
	-webkit-user-select:none;
}


.carousel .carousel-item
{

	position:absolute;
	cursor:pointer;
}



