.dn{display:none;}

/******************»î¶¯Ò³********1************/
#body{width:100%;margin:0 auto;position:relative;}
.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a72058;
  overflow: hidden;
}
.home-bg img{
  width: 100%;
  height: auto;
}
.rules-icon{
  position: absolute!important;
  top: .5rem;
  right: .3rem;
  width: 1.2rem;
  height: 1.2rem;
}
.rules-icon img{
  width: 100%
}
.join-num{
  position: absolute;
  width: 100%;
  top: 70%;
  text-align: center;
  font-size: .32rem;
  color: #fff;
  line-height: .8rem;
}
.join-num strong{
  font-size: .4rem;
  color: #fff500;
  margin: 0 .2rem;
}
.copyright{
  position: fixed;
  font-size: .32rem;
  height: .6rem;
  line-height: .6rem;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: rgba(0,0,0,.4);
}
.main_bg{position: absolute;}
.phb_imgs{position:absolute;top:2%;right:2%;overflow-y:hidden;}
.phb_imgs img{width:100%;margin:0 auto;}
.center_sta{width:100%;margin:0 auto;position:absolute;top:30%;}
.stage{margin:0rem auto 0;	border-radius:50%;	}
.cube { position: absolute;left:0%;top: 0rem;width: 100%;}
.stage_img{width:100%;margin:0 auto;text-align:center;}
.stage_img  img{width:100%;margin:0 auto;}


#wide-wrapper{width:100%;margin:0 auto;}
#carousel{width:100%;margin:0px auto;padding:0px;}
#carousel ul{width:100%;margin:0 auto;}
#carousel li{float:left;}
#carousel .tooltip, #carousel .bigImage, #carousel .title, #carousel .description{position:absolute;left:-9999px;}

.carousel
{
	position:relative;
	margin:0px;
	padding:0px;
	-moz-user-select:none;
	-webkit-user-select:none;
}


.carousel .carousel-item
{

	position:absolute;
	cursor:pointer;
}

.copyright{
  position: fixed;
  font-size: .32rem;
  height: .6rem;
  line-height: .6rem;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: rgba(0,0,0,.4);
}
.hide{
  display: none
}

/* 活动说明样式 */
.rules-box {
  width: 6.7rem;
  background: rgb(255,255,255);
  transition: .4s;
  color: #323333;
  overflow: hidden;
  z-index: 9999;
  margin: 1.5rem auto 0;
}
.rules-box .rules-box-top{
  width: 100%;
  height: 1.25rem;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;

}
.rules-box .rules-box-top .rules-tab{
  display: flex;
}
.rules-box .rules-box-top .rules-tab li{
  line-height: .65rem;
  padding: .36rem 0;
  text-align: center;
  cursor: pointer;
  font-size: .36rem;
  flex:1;
  border-left: 1px solid #dddddd;
}
.rules-box .rules-box-top .rules-tab li:first-child{
  border-left: none;
}
.rules-box .rules-box-top .rules-tab li  strong{

  padding: .2rem .8rem;
}
.rules-box .rules-box-top .rules-tab li.cur strong{
  border-bottom: 6px solid #e84742;
}
.rules-box .rules-box-top .close{
  position: absolute;
  right: 0.4rem;
  top: 0.3rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url('../../common/images/close.png') no-repeat;
  background-size: 50%;
  background-position: center;
}
.rules-content{
  width: 6.6rem;
  min-height: 9rem;
  text-align: left;
  font-size: .28rem;
  line-height: .6rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.3rem 0.15rem 2rem;
  background-color: #fff;

}
.rules-content .module{
  margin: .4rem 0;
}
.rules-content .module h3{
  color: #000;
  display: inline-block;
  font-weight: bold;
}
.rules-content .module h3 b{
  color: #e84742;
  font-weight: bold;
  margin-right: 0.2rem;
  font-size: 0.3rem;
}
.rules-content .module .info p{
  padding-left: 0.6rem;
}
.rules-content .module .info strong{
  color: #47b146;
}

.rules-content .rules-card-list li{
  font-size: .32rem;
  width: 100%;
  border: #ddd 1px solid;
  margin-bottom: .2rem;
  border-radius: 5px;
}
.rules-content .rules-card-list .card-top {
  color: #999;
  border-bottom: #ddd 2px solid;
  padding: 0.1rem 0.5rem;
  font-size: 0.22rem;
}
.rules-content .rules-card-list li h1{
  font-size: .4rem;
  text-align: center;
  padding: 0.2rem 0;
}
.rules-content .rules-card-list .card-bottom {
  width: 4.6rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.34rem;
  position: fixed;
  left: 1.5rem;
  bottom: 2rem;
  background-color: #47b146;
  color: #fff;
}
 .contract,.contract-green{
  width: 6.7rem;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 0.6rem;
}
.contract-green{
  background: rgba(255,255,255,0)!important;
}
.btn-contract-green{
  background: #47b146!important;
}
 .btn-contract,.btn-contract-green{
  margin: 0 auto;
  font-size: .36rem;
  display: block;
  color: #fff;
  background: #e84742;
  height: .8rem;
  width:4.3rem;
  border-radius: .4rem;
  text-align: center;
  line-height: .8rem;
}

/* 中奖结果页 */
.result-box,.result-failed{
  position: absolute;
  font-size: .32rem;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: scroll;
  top: 0;
  background: rgba(0,0,0,.8);
  z-index: 999;
}
.result-box .result-gift-scroll{
  padding: 0 .5rem;
  word-wrap: break-word;
  overflow-x: hidden;
  padding-top: 1.8rem;
  -webkit-overflow-scrolling: touch;
}
.result-box .result-bglight{
  width: 100%;
  height: 80%;
  top: -0.5rem;
  background-image: url('../../common/images/light.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  animation: bgRotate 6s linear infinite;
}
.result-box .result-gift-scroll .title{
  font-size: .5rem;
}
.result-box .result-gift-scroll .result-img{
  position: relative;
  width: 2.5rem;
  height: 2.6rem;
  text-align:center;
  margin: 0 auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  z-index: 1;
}
.result-box .result-gift-scroll .result-img img{
  width: 100%;
  height: 100%;
}
.result-box .result-footer{
  line-height: .6rem;
  font-size: .4rem;
}
.result-box .result-footer strong{
  color: #ffdb12;
}
.result-failed .failed-img{
  width: 6.7rem;
  height: 4.88rem;
  background-color: #b8b7b7;
  text-align: center;
  margin: 1.5rem auto 0;
}
.result-failed .failed-img img{
  width: 100%;
  height: 100%;
  display: block;
}
@keyframes bgRotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@-webkit-keyframes bgRotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}


/* 页面布局编辑 */
.edit-layer{
  border: transparent 1px solid;
  position: relative;
}
.layer-border{
  border: #fff 1px dashed;
}
.layer-border-active{
  border: #329FEA 1px dashed;
}
.home-bg .tool-bar{
  top: 0!important;
}
.tool-bar{
  display: block;
  position: absolute;
  right: 0;
  top: -27px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  z-index: 10;
  background: #20a0ff;
  color: #fff;
  padding: 2px 5px;
  cursor: pointer;
}
.tool-bar:hover{
  background: #4db3ff
}


.tips{
  position: absolute;
  background: rgba(0,0,0,0.3);
  width: 80%;
  height: 2rem;
  line-height: 2rem;
  border-radius: .2rem;
  text-align: center;
  top: 25%;
  left: 10%;
  padding: .2rem .1rem;
  z-index: 200;
  color: #fff;
  font-size: 0.48rem;
}


