<!DOCTYPE html>
<html lang="en" data-use-rem="750">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="../common/js/jquery.min.js"></script>
  <script src="../common/js/vue.min.js"></script>
  <script src="../common/js/rem.js"></script>
  <script src="js/turnplate.js"></script>
  <script src="js/awardRotate.js"></script>
  <link rel="stylesheet" href="../common/css/reset.css" />
  <link rel="stylesheet" href="css/turnplate.css" />
  <title></title>
</head>
<body class="turnplate-lottery-body">
  <div id="app">
    <!-- 首页 begin-->
    <div class="main" v-show="activity.main_tab == 1">
      <!-- 活动背景图 begin-->
      <div class="home-bg">
        <img src="images/active-bg.jpg" alt="">
      </div>
      <!-- 活动背景图 begin-->
      <!-- 活动规则按钮 begin-->
      <div class="rules-icon" id="btn">
        <img src="images/ruleImg_yellow.png" alt="">
      </div>
      <!-- 活动规则按钮 end-->
      <!-- 大转盘 begin-->
      <div class="turnplate">
        <canvas id="wheelcanvas" style="width:100%;z-index:1;position:relative" width="422" height="422"></canvas>
        <img id="btn_start" src="images/turnplate-pointer.png"/>
        <img class="turnplate-bg" src="images/turnplate-bg.png"/>
      </div>
      <!-- 大转盘 end-->
      <!-- 参与人数 begin-->
      <div class="join-num">
        <p>已有<strong>{{activity.base_setting.fictitious_join_num}}</strong>人参与</p>
        <p>今天还有<strong>{{activity.lottery_setting.total_lottery_time}}</strong>次抽奖机会</p>
        <p v-if="activity.lottery_setting.is_total_lottery == '1'">您还有<strong>{{activity.lottery_setting.daily_lottery_time}}</strong>次抽奖机会</p>
      </div>
      <!-- 参与人数 end-->
      <!-- 版权 begin-->
      <div class="copyright">
        页面技术由elemenT提供
      </div>
      <!-- 版权 end-->
    </div>
    <!-- 首页 end-->
    <!-- 活动说明 begin-->
    <div class="rules-box" v-show="activity.main_tab == 2 || activity.main_tab == 3">
      <div class="rules-box-top">
        <div class="rules-tab">
          <li class="cur">
            <strong>活动说明</strong>
          </li>
          <li>
            <strong>我的奖品</strong>
          </li>
        </div>
        <div class="close">
        </div>
      </div>

      <div class="rules-content" v-show="activity.main_tab == 2">
        <div class="module">
          <h3>活动奖品</h3>
          <div class="info">
            <p>一等奖：价值10元礼品</p>
            <p>二等奖：价值20元礼品</p>
            <p>三等奖：价值30元礼品</p>
          </div>
        </div>
        <div class="module">
          <h3>活动时间</h3>
          <div class="info">
            <p>{{activity.base_setting.begin_date}} - {{activity.base_setting.end_date}}</p>
          </div>
        </div>
        <div class="module">
          <h3>主办单位</h3>
          <div class="info">
            <p>本次活动主办单位为<a :href="activity.advanced_setting.enterprise_setting.website_url"><strong>{{activity.advanced_setting.enterprise_setting.organizers}}</strong></a></p>
          </div>
        </div>
        <div class="module">
          <h3>技术支持</h3>
          <div class="info">
            <p>页面技术由<strong>口粮APP</strong>提供，技术支持方仅提供页面技术，不承担由活动引起的相关法律责任</p>
          </div>
        </div>
        <div class="module">
          <h3>活动及兑奖说明</h3>
          <div class="info">
            <p>没人每日有3次抽奖机会</p>
            <p>{{activity.base_setting.activity_des}}</p>
          </div>
        </div>
      </div>
      <div class="rules-content" v-show="activity.main_tab == 3">
        <div class="rules-card-list">
          <ul>
            <li>
              <div class="card-content">
                <h1 class="price-name">一等奖</h1>
                <p>兑奖期限: {{activity.base_setting.begin_date}} 至 {{activity.base_setting.begin_date}}</p>
              </div>
              <div class="status">
                未兑换
              </div>
            </li>
          </ul>
        </div>
        <div class="contract">
            <a class="btn-contract">{{activity.advanced_setting.enterprise_setting.button_link_text}}</a>
        </div>
      </div>
    </div>
    <!-- 活动说明 end-->
    <!-- 中奖页面 begin-->
    <div class="result-box" v-show="activity.main_tab == 4">
      <div class="result-gift-scroll">
        <div class="result-bglight"></div>
        <h1 class="title">恭喜您获得了</h1>
        <div class="result-img">
          <img src="images/gift.png" alt="">
        </div>
        <div class="result-footer">
          <p><strong>一等奖</strong></p>
          <p>价值100元礼品</p>
        </div>
        <div class="contract">
            <a class="btn-contract">领取奖品</a></br>
            <a v-if="activity.advanced_setting.enterprise_setting.is_showing_function_button == '1'" class="btn-contract" :href="activity.advanced_setting.enterprise_setting.button_link_url">{{activity.advanced_setting.enterprise_setting.button_link_text}}</a>
            <a v-if="activity.advanced_setting.enterprise_setting.is_showing_function_button == '2'" class="btn-contract">{{activity.advanced_setting.enterprise_setting.button_flow_text}}</a>
        </div>
      </div>
    </div>
    <!-- 中奖页面 end-->
    <div class="result-failed" v-show="activity.main_tab == 5">
      <div class="failed-img">
        <img src="images/faiImg.png" alt="">
        <div class="contract">
            <a class="btn-contract">再来一次</a></br>
            <a v-if="activity.advanced_setting.enterprise_setting.is_showing_function_button == '1'" class="btn-contract" :href="activity.advanced_setting.enterprise_setting.button_link_url">{{activity.advanced_setting.enterprise_setting.button_link_text}}</a>
            <a v-if="activity.advanced_setting.enterprise_setting.is_showing_function_button == '2'" class="btn-contract">{{activity.advanced_setting.enterprise_setting.button_flow_text}}</a>
        </div>
      </div>
    </div>
  </div>
  <script>
  window.app = new Vue({
      el: '#app',
      data () {
        return {
          activity: {}
        }
      },
      mounted () {
         if(window.parent.window._activity){
             this.setContent(window.parent.window._activity)
         }else{
            // this.activity.base_setting.activity_name = '哈哈哈'
         }
      },
      methods: {
        setContent (activity) {
          this.activity = activity
          this.setAwardList(this.activity)
        },
        setAwardList (activity) {
          // console.log(activity.award_setting)
          turnplate.restaraunts = []
          var award_length = activity.award_setting.length
          for(var i=0; i<award_length;i++){
            turnplate.restaraunts.push(
              {'award_id':activity.award_setting[i].award_id,'award_name':activity.award_setting[i].award_name}
            )
          }
          turnplate.drawRouletteWheel();
        }
      }
  });
  </script>
  <script>
  $(function(){
      // 开始抽奖
      $('#btn_start').click(function (){
        if(turnplate.bRotate) return;
        if(!turnplate.restaraunts) return;
        turnplate.bRotate = !turnplate.bRotate;
        // 点击抽奖
        // turnplate.getLottery(work_id,workData);
        // 奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
        // console.log(turnplate.restaraunts[item-1]);
        turnplate.rotateFn(20000);
      });

      // 活动说明tab
      $(".rules-tab li").click(function(){
          $(".rules-tab li").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
          $(".rules-content").hide().eq($(this).index()).show();
      });
    })
  </script>
</body>
</html>
