
/*页面常用颜色*/
$color-white: #fff;
$color-blank:#2a2a2a;
$color-green:#2ab040;
$color-red:#f86351;
$color-font-see:#c9f224;
$color-boder:#dbdbdb;
$color-font-msg:#4c4c4c;
$color-mycoupon-bg:#f6f8f6;
$color-charge-btn:#9da39e;
$color-red:#f86351;

